body {
background-color: #ddd;
color: #222;
font-family: Helvetica;
 font-size: 14px;
margin: 0;
padding: 0;
}

.container h1 {
margin: 0;
background-color: #ccc;
border-bottom: 1px solid #666;
color: #222;
display: block;
font-size: 20px;
font-weight: bold;
padding: 10px;
text-align: center;
text-decoration: none;
text-shadow: 0px 1px 0px #fff;
background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
}

.article_list h2, .archive_list h2 {
background-color: #FFF;
color: #222;
display: block;
font-size: 17px;
font-weight: bold;
text-decoration: none;
list-style: none;
margin: 0px;
padding-left: 20px;
padding-top: 5px;
padding-bottom: 5px;
}

.article_list a, .archive_list a {
text-decoration: none;
color: #222;
}

.header p, .sidebar, .return_link {
display: none;
}

.article_list p, .archive_list p {
 background-color: #fff;
 border-bottom: 1px solid #ddd;
 font-size: 10px;
 padding-left: 20px;
 padding-right: 10px;
 padding-top: 0px;
 padding-bottom: 5px;
 margin: 0px;
}

.content {
padding: 10px;
}

 .article_container {
list-style: none;
margin: 0px;
padding: 0;
background-color: #FFFFFF;
border: 1px solid #999999;
color: #222222;
display: block;
font-size: 14px;
margin-bottom: -1px;
padding: 10px;
}

.article_container h1 {
font-size: 20px;
font-weight: bold;
}

 .article_container h2 {
font-size: 16px;
font-weight: bold;
}

