<!DOCTYPE html>
<title>yoursite.com</title>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="user-scalable=yes, width=device-width" />
<link href="./index.xml" rel="alternate" type="application/rss+xml" />
<h1>yoursite.com</h1>
<p class="site_description">your description</p>
<ul class="navbar">
<li class="navitem"><a href="your_about_page.html">about</a></li>
<li class="navitem"><a href="./archive.html">archive</a></li>
</ul></div>
<div class="article_list">
{% for i in range(30) %}
<h2><a href="{{ data[i].html_filename }}">{{ data[i].title }}</a></h2>
<p>{{ data[i].date_txt }}: {{ data[i].summary }} <a href="{{ data[i].html_filename }}">...</a></p>
{% endfor %}
<h2><a href="archive.html">View All Articles</a></h2>